.content__top-nav {
    height: 650px;
    background-image: url("../img/top_nav.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.content__top-nav__title {
    font-family: "Open Sans ExtraBold", sans-serif;
    text-align: center;
    font-size: 27px;
    line-height: 36px;
    font-weight: 800;
    color: #fff;
    padding-top: 30px;
}

.content__top-nav__title p {
    margin-top: 0;
}

.content__top-nav__post-title {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    text-align: center;

}

.content__top-nav__facts {
    margin-top: 35px;
}

.facts__fact {
    height: 60px;
    width: 280px;
    margin: 0 auto;
    background-color: #222221;
}

.facts__fact:nth-child(2) {
    margin-top: 10px;
}

.facts__fact:last-child {
    margin-top: 10px;
}

.fact-img {
    height: 100%;
    width: 35px;
    padding-left: 19px;
}

.fact-img img {
    margin-top: 7px;
}

.facts__fact .sent-i {
    margin-top: 10px;
}

.facts__fact .product-i {
    margin-top: 10px;
}

.fact_description {
    font-family: "Open Sans Light", sans-serif;
    font-size: 15px;
    color: #ffffff;
    width: 200px;
    margin-top: 6px;
    padding-left: 20px;
}

.product-des {
    padding-top: 10px;
}

.sent-des {
    padding-top: 10px;
}

.content__top-nav__look-btn button {
    width: 280px;
    height: 50px;
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 3px;
    border: none;
    outline: none;
    cursor: pointer;
    font-family:"Open Sans SemiBold", sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: #ea1b34;
    box-shadow: 0 4px 0px #910f1f;
}

.content__top-nav__look-btn button > img {
    margin-right: 5px;
}

.content__products {
    background-image: url("../img/product_fon.png");
}

.empty-block {
    height: 30px;
    background-image: url("../img/product_fon.png");
}

.advert-block {
    width: 280px;
    height: 280px;
    margin: 0 auto;
    margin-top: 20px;
}

.advert-block__title {
    color: #fff;
    font-family: "Open Sans ExtraBold", sans-serif;
    font-size: 22px;
    text-align: center;
    padding-top: 10px;
}

.advert-block__des {
    font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
    text-align: center;
    color :#fff;
    margin-top: 133px;
}

.knife {
    background-image: url("../img/knife.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 0;
}

.pistol {
    background-image: url("../img/pistol.png");
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: -30px;
}

.trofei {
    background-image: url("../img/trofei.png");
    margin-top: -30px;
}

.stock-block {
    background-color: #fff;
    position: relative;
    border: 1px solid #dedede;
    cursor: pointer;
}

.stock-block__img img {
    margin-left: 53px;
    margin-top: 20px;
}

.stock-block__title {
    margin-top: 20px;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    padding-left: 15px;
    color: #000;
}

.stock-block__money {
    margin-top: 5px;
    margin-left: 15px;
}

.stock-block__top-des {
    position: absolute;
    left: -3px;
    top: 3px;
}

.cen {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 16px;
    color: #000;
}

.new-cen {
    margin-left: 10px;
    color: #ea1b34;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 16px;
}

.old-cen {
    color: #bababa;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 16px;
    text-decoration: line-through;
}

.equip-block {
    background: rgba(232, 232, 232, 0.4);
    cursor: pointer;
}

.content__products > .equip-block__img {

}

.equip-block__img img {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}

.equip-block-empty {
    padding-top: 10px;}


.equip-block__des {
    text-align: center;
    margin-top: 25px;
    font-family: "Open Sans ExtraBold", sans-serif;
    font-size: 22px;
    color: black;
    line-height: 26px;
    text-transform: uppercase;
}

.zhig-des {
    margin-top: 40px;
}

.arbal-des {
    margin-top: 70px;
}

.fon-des {
    margin-top: 70px;
}

.bin-des {
    margin-top: 40px;
}

.opt-des {
    margin-top: 80px;
}

.tactic-des {
    margin-top: 45px;
}

.obuv-des {
    margin-top: 50px;
}

.clock-des {
    margin-top: 60px;
}

.oruzh-des {
    margin-top: 80px;
}

.dospeh-des {
    margin-top: 40px;
}

.flag-des {
    margin-top: 10px;
}

.magazine-des {
    margin-top: 5px;
}

.sertif-des {
    margin-top:25px;
}

.multi-des {
    margin-top: 50px;
}

.zat-des {
    margin-top: 35px;
}

@media screen and (max-width: 414px) {
   .container {
       width: 380px !important;
   }

    .container__block {
        width: 380px !important;
    }

    .content {
        width: 380px !important;
    }

    .header__menu {
        width: 60px;
    }

    .header__menu ul {
        margin-left: -20px;
    }

    .header__etc {
        width: 90px;
        margin-left: 30px;
    }

    .header__ect__bay {
        margin-left: 20px;
    }

    .header__logo {
        margin-left: 30px;
    }
}

@media screen and (max-width: 380px) {
    .container {
        width: 360px !important;
    }

    .container__block {
        width: 360px !important;
    }

    .content {
        width: 360px !important;
    }

    .header__logo {
        margin-left: 30px;
    }


    .header__etc {
        margin-left: 15px;
    }
}

@media screen and (max-width: 360px) {
    .container {
        width: 340px !important;
    }

    .container__block {
        width: 340px !important;
    }

    .content {
        width: 340px !important;
    }

    .header__logo {
        margin-left: 15px;
    }

    .header__etc {
        margin-left: 5px;
    }
}

@media screen and (max-width: 340px) {
    .container {
        width: 320px !important;
    }

    .container__block {
        width: 320px !important;
    }

    .content {
        width: 320px !important;
    }

    .header__logo {
        margin-left: 1px;
    }

    .header__etc {
        margin-left: 1px;
    }
}